nav {
  background-color: #333;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  padding-bottom: 5px;
}

nav ul li a:hover {
  color: #ffcc00;
}

nav .logout {
  margin-left: auto;
}

nav .logout-button {
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav .logout-button:hover {
  background-color: #cc0000;
  color: #f0f0f0;
  cursor: pointer;
}
